h1 { font-size: 38px;
    font-family: Arial;
    font-weight: bold;
}
label {
   font-size: 16px !important;
   font-family: Arial !important;
   
}
input{
   font-size: 16px !important;
   font-family: Arial !important;
   height: 36px !important;
   background-color: #ffffff !important;
   border-color: #0087AA !important;
}
button {
   font-size: 16px !important;
   font-family: Arial !important;
   height: 36px !important;
   background-color: #0087AA !important;
   border-color: #ffffff !important;
   width: 100% !important;
}
textarea {
    font-size: 16px !important;
    font-family: Arial !important;
    background-color: #ffffff !important;
    border-color: #0087AA !important;
    
}
input[type="submit"].submitButton:hover {
    border: #1997B7
}